#mainNav {
    background-color: rgba(43, 41, 41, 0.607);
    font-family: $headings-font-family;

    .navbar-brand {
        color: $primary;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: fade-out($white, 0.3);

                font-weight: 800;
            }

            &.active {
                .nav-link {
                    color: $primary;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 0.9rem;
                    font-family: cursive;

                    &:hover {
                        color: rgb(16 2 2 / 70%);

                    }
                }

                &.active {
                    .nav-link:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
}
