// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    .container
        a.navbar-brand.text-uppercase.fw-bold.d-lg-none(href='index.html') Start Bootstrap
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='products.html') Inicio
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='about.html') Manicuristas
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='products.html') Servicios
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='about.html') Insumos
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='store.html') Sedes
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='about.html') Promociones
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='about.html') Cursos
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='about.html') Perfiles

