doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Santisima SPA 

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbarGerente

        section.page-section.cta
                .container
                    .row
                        .col-xl-9.mx-auto
                            .cta-inner.text-center.rounded
                                h2.section-heading.mb-5                                   
                                ul.list-unstyled.list-hours.mb-5.text-left.mx-auto                                      
                                        table(class="table" id="table")
                                            thead                                             
                                                    th Documento  
                                                    th Nombre 
                                                    th Celular
                                                    th Dirección 
                                                    th Borrar
                                                    th Actualizar   
                                        
        section.page-section.about-heading
            .container
                .about-heading-content
                    .row
                        .col-xl-6.col-lg-7.mx-auto
                            .bg-faded.rounded.p-5
                                #main
                                    form(id="form" action="#")
                                        h2.section-heading.mb-4
                                            span.section-heading-upper Crear Administrador
                                        div.username
                                            input(name='cedula' id='cedula' type="text" placeholder="Cedula" ) 
                                        br
                                        div.username
                                            input(name='nombre' id='nombre' type="text" placeholder="Nombre"  ) 
                                        br
                                        div.username 
                                            input(name='celular' id='celular' type="text" placeholder="Celular" ) 
                                        br
                                        div.username
                                            input(name='direccion' id='direccion' type="text" placeholder="Direccion" )
                                        br
                                        div.username
                                            input(name='sedeDireccion' id='sedeDireccion' type="text" placeholder="Direccion de la sede" ) 
                                        br
                                        div.username
                                            input(name='gereCedula' id='gereCedula' type="text" placeholder="Cedula del Gerente" )  
                                        input(type="submit" value="agregar")                  
        script(src="js/table.js")   
        script(src="js/administradorScript.js")        
              
                

    include includes/footer

    include includes/scripts