doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.png', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Santisima SPA
                            span.section-heading-lower Nuestro Trabajo
                        p.mb-3
                            | Somos especialistas en uñas artificiales y en Decoración. Brindamos talleres Personalizados y grupales Estamos ubicados en Bello Antioquia y Bogotá
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='agendar-cita.html') Agendar Cita

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Santisima SPA
                                span.section-heading-lower Tambien puedes aprender
                            p.mb-0
                                | Te enseñamos a decorar y a realizar uñas artificiales, capacitamos a nivel Nacional COLOMBIA. Brindamos Servicio en Manicura y Pedicura en nuestro SPA Uñas acrílico, Gel, Acrigel, Dual system, Frances permanente. Uñas Esculpidas enculturates Semi Permanente y Más


        include includes/footer

        include includes/scripts
