doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Santisima SPA 

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbarGerente
        section.page-section.cta
                .container
                    .row
                        .col-xl-9.mx-auto
                            .cta-inner.text-center.rounded
                                h2.section-heading.mb-5                                   
                                ul.list-unstyled.list-hours.mb-5.text-left.mx-auto                                      
                                        table(class="table" id="table")
                                            thead                                             
                                                    th documento  
                                                    th nombre 
                                                    th celular
                                                    th dirección    
                                        script(src="js/table.js")   
                                        script(src="js/manicuristaScript.js")
                                

        include includes/footer

        include includes/scripts