doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Santisima SPA

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar
        section.page-section.about-heading
            .container
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                #main
                                form(action="#")
                                h2.section-heading.mb-4
                                    span.section-heading-upper Recordar Contraseña
                                div.username
                                    input(type="text" placeholder="Usuario")
                                br
                               
                                
                                button(type="button") Enviar
                                
                                p                                    
                                    a(href='registrarse.html') Registrarse




        include includes/footer

        include includes/scripts
