doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Santisima SPA

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-5
                                span.section-heading-upper Servicios
                                span.section-heading-lower Lista de servicios y precios
                            ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Tipo se servicio
                                    span.ms-auto Precio
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Semi manos decoración básica
                                    span.ms-auto $40.000
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Semi manos decoración full 
                                    span.ms-auto $50.000 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Semi expres 
                                    span.ms-auto $30.000                                
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Semi pies un solo tono o francés 
                                    span.ms-auto $35.000 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Semi pies decoración básica
                                    span.ms-auto  $40.000
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Acrilicas tips.     
                                    span.ms-auto $90.000 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Esculpidas.  
                                    span.ms-auto $100.000 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Retoque  con semi y dec. básica 
                                    span.ms-auto  $70.000
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Forrado    
                                    span.ms-auto $70.000                                 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Tradicional manos  
                                    span.ms-auto  $20.000 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Tradicional pies       
                                    span.ms-auto $20.000 
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Tradicional manos con decoración y pies en  un solo tono  
                                    span.ms-auto $35.000
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Retiro semi    
                                    span.ms-auto  $10.000
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Retiro acrílicas.      
                                    span.ms-auto $15.000
                                
                            p.address.mb-5
                                em
                                    strong Todos nuestros precios son con decoración básica dependiendo de la decoración está podrá tener un incremento.
                                    br
                                    | Cualquier duda comunicarse al SPA
                            p.mb-0
                                small
                                    em Llamar
                                br
                                | (300) 6085339
        
        include includes/footer

        include includes/scripts
